@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EEF2EF;
  /* 025 4の色 */
  color: #74645C;
  /* 025 9の色 */
}

.navbar-mom {
  background-color: #B0DBD4;
  /* 025 8の色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  /* navbarにうっすらついてる影 */
}

.navbar-brand {
  color: #74645C;
  /* 025 9 */
}

#navbarDropdown {
  color: #74645C;
  /* 025 9 */
}

.dropdown-item {
  color: #74645C;
  /* 025 9 */
}

.btn-select-child {
  background-color: #B5D569;
  /* 025 7 */
  color: #74645C;
}

.btn-select-child:hover {
  background-color: #9FBC5C;
  /* 025 7 +2暗*/
  color: #74645C;
}

.btn-child {
  background-color: #87BFC1;
  /* 025 2 */
  color: #74645C;
}

.btn-child:hover {
  background-color: #75A6A8;
  /* 025 2 +2暗*/
  color: #74645C;
}

.btn-main-content {
  background-color: #B5D569;
  /* 025 7 */
  color: #74645C;
}

.btn-main-content:hover {
  background-color: #9FBC5C;
  /* 025 7 +2暗*/
  color: #74645C;
}

.btn-vaccine {
  background-color: #B0DBD4;
  /* 025 8 */
  color: #74645C;
  height: 70px;
}

.btn-vaccine:hover {
  background-color: #9CC2BB;
  /* 025 8 +2暗*/
  color: #74645C;
}

.btn-vaccine-done {
  background-color: #43DBC2;
  /* 025 8 +10彩 */
  color: #74645C;
  height: 70px;
}

.btn-vaccine-done:hover {
  background-color: #3BC2AB;
  /* 025 8 +10彩+2暗*/
  color: #74645C;
}

.vaccine-button {
  font-size: 15px;
}

.btn-pdf {
  background-color: #EDE795;
  /* 025 3 */
  color: #74645C;
}

.btn-pdf:hover {
  background-color: #D4CE85;
  /* 025 3 +2暗*/
  color: #74645C;
}

.btn-edit {
  background-color: #27BCC1;
  /* 025 2 +10彩 */
  color: #74645C;
}

.btn-edit:hover {
  background-color: #22A3A8;
  /* 025 2 +10彩+2暗 */
  color: #74645C;
}

.btn-delete {
  border: 3px solid #C12755;
  /* 025 2 +10彩のスプリットコンプリメンタリー */
  color: #74645C;
}

.btn-delete:hover {
  border: 3px solid #A8224A;
  /* 025 2 +10彩のスプリットコンプリメンタリー +2暗*/
  color: #74645C;
}

.btn-cancel {
  border: 3px solid #87BFC1;
  /* 025 2 */
  color: #74645C;
}

.btn-cancel:hover {
  border: 3px solid #75A6A8;
  /* 025 2 +2暗*/
  color: #74645C;
}

.btn-register {
  background-color: #27BCC1;
  /* 025 2 +10彩 */
  color: #74645C;
}

.btn-register:hover {
  background-color: #22A3A8;
  /* 025 2 +10彩+2暗 */
  color: #74645C;
}

.schedule-link {
  color: 0;
}

.schedule-link:hover {
  text-decoration: none;
  color: 0;
}

.vaccine_record {
  font-size: large;
  word-wrap: break-word;
}

@media (max-width: 991px) {
  .vaccine_record {
    font-size: 100%;
  }
}

