@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EEF2EF;
  /* 025 4の色 */
  color: #74645C;
  /* 025 9の色 */
}

.navbar-mom {
  background-color: #B0DBD4;
  /* 025 8の色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  /* navbarにうっすらついてる影 */
}

.navbar-brand {
  color: #74645C;
  /* 025 9 */
}

#navbarDropdown {
  color: #74645C;
  /* 025 9 */
}

.dropdown-item {
  color: #74645C;
  /* 025 9 */
}

.btn-select-child {
  background-color: #B5D569;
  /* 025 7 */
  color: #74645C;
}

.btn-select-child:hover {
  background-color: #9FBC5C;
  /* 025 7 +2暗*/
  color: #74645C;
}

.btn-child {
  background-color: #87BFC1;
  /* 025 2 */
  color: #74645C;
}

.btn-child:hover {
  background-color: #75A6A8;
  /* 025 2 +2暗*/
  color: #74645C;
}

.btn-main-content {
  background-color: #B5D569;
  /* 025 7 */
  color: #74645C;
}

.btn-main-content:hover {
  background-color: #9FBC5C;
  /* 025 7 +2暗*/
  color: #74645C;
}

.btn-vaccine {
  background-color: #B0DBD4;
  /* 025 8 */
  color: #74645C;
}

.btn-vaccine:hover {
  background-color: #9CC2BB;
  /* 025 8 +2暗*/
  color: #74645C;
}

.btn-vaccine-done {
  background-color: #87BFC1;
  /* 025 2 */
  color: #74645C;
}

.btn-pdf {
  background-color: #EDE795;
  /* 025 3 */
  color: #74645C;
}

.btn-pdf:hover {
  background-color: #D4CE85;
  /* 025 3 +2暗*/
  color: #74645C;
}

.btn-edit {
  background-color: #87BFC1;
  /* 025 2 */
  color: #74645C;
}

.btn-edit:hover {
  background-color: #75A6A8;
  /* 025 2 +2暗 */
  color: #74645C;
}

.btn-delete {
  background-color: #C18798;
  /* 025 2のスプリットコンプリメンタリー */
  color: #74645C;
}

.btn-delete:hover {
  background-color: #A87584;
  /* 025 2のスプリットコンプリメンタリー +2暗*/
  color: #74645C;
}

.btn-cancel {
  background-color: #B0DBD4;
  /* 025 8 */
  color: #74645C;
}

.btn-cancel:hover {
  background-color: #9CC2BB;
  /* 025 8 +2暗*/
  color: #74645C;
}

